<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="${title} ?: 'Danh sach nhan vien'">Danh sach nhan vien</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content">
  <h1>Bang nhan vien</h1>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Mã Nhân viên</th>
      <th>Tên nhân viên</th>
      <th>Phai</th>
      <th>Nơi sinh</th>
      <th>Luong</th>
      <th>Phong Ban</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="nhanvien : ${nhanviens}">
      <td th:text="${nhanvien.id}"></td>
      <td th:text="${nhanvien.MaNv}"></td>
      <td th:text="${nhanvien.TenNv}"></td>
      <td>
        <img th:src="${nhanvien.Phai == 'Nam' ? 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Male_symbol_%28heavy_blue%29.svg/800px-Male_symbol_%28heavy_blue%29.svg.png' : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtWyBWaN1MIxrsGSiun4BIzLQDXkPeX9R0SQ&s'}" alt="Gender Icon" style="width: 30px; height: 30px;">
      </td>
      <td th:text="${nhanvien.NoiSinh}"></td>
      <td th:text="${nhanvien.Luong}"></td>
      <td th:text="${nhanvien.phongBan.TenPhong}"></td>
      <td>
        <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/nhanvien/edit/{id}(id=${nhanvien.id})}"
           class="btn btn-success btn-sm">Sửa</a>
        <a th:href="@{/nhanvien/delete/{id}(id=${nhanvien.id})}"
           class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc không?')">Xóa</a>

      </td>

    </tr>
    </tbody>
  </table>
</section>
</body>
</html>
<script>
  function checkQuantity(form) {
      var quantityInput = form.querySelector('input[name="quantity"]');
      var quantity = parseInt(quantityInput.value);
      if (quantity > 10) {
          alert("Maximum quantity allowed is 10.");
          return false; // Prevent form submission
      }
      return true;
  }
      function searchProducts() {
          var searchInput = document.getElementById("searchInput");
          var searchTerm = searchInput.value.toLowerCase();
          var productRows = document.getElementsByTagName("tr");

          for (var i = 1; i < productRows.length; i++) {
              var nameCell = productRows[i].getElementsByTagName("td")[1];
              var productName = nameCell.textContent.toLowerCase();

              if (productName.includes(searchTerm)) {
                  productRows[i].style.display = "";
              } else {
                  productRows[i].style.display = "none";
              }
          }
      }
</script>